@font-face {
    font-family: 'lato-bold';
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'lato-italic';
    src: url(../fonts/Lato-Italic.ttf);
    font-style: italic;
}

@font-face {
    font-family: 'lato';
    src: url(../fonts/Lato-Regular.ttf);
    font-style: normal;
}

body{
    position: relative;
}

#header{
    font-family: lato-bold, sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
    height: auto;
    text-align: center;
    background-image: url("../img/header-wood-comp.jpg");
    background-attachment: fixed;
    background-position: top center;
    color: white;
    font-size: 45px;

}

#article-image {
    width: 40%;
    padding: 5px 8px 5px;
    float: left;

}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.video_section{
    width: 100%;
    height: 100%;
}

.carousel-section h2{
    text-align: center;
}

.contact-details h3, h4{
    text-align: center;
}

#section1 h2{
    text-align: center;
}

#section1 p{
    text-align: justify;
}

#section41 h3{
    text-align: center;
}

.map-container {
    overflow: hidden;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.popover-header {
    text-align: center;
    color: white;
}

.popover-body {
    text-align: center;
    color: white;
}

.btn-collapse {
    width: 100%;
}